:root {
  --line-h: 1.5em;
  --gap: calc(var(--line-h)*2);
  --font-size: clamp(0.8rem, 1.25vw, 2.5rem);
  --letter-spacing: 0.25em;
}

:root {
  --bg-color: whitesmoke;
  --text: rgba(46, 49, 49, 1);
  --theme: mistyrose;
  --accent: orangered;
}


/* Box sizing rules */
*,
  *::before,
  *::after {
	box-sizing: border-box;
  }

  /* Remove default margin */
  body {
	margin: 0;
	line-height: var(--line-h);
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'] {
	list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
	scroll-behavior: smooth;
  }

  html {
	background-color: var(--bg-color);
  }

  body {
	min-height: 100vh;
	margin:0;
	color: var(--text);
	font-family: system-ui, sans-serif;
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
  } 

body > * {
  width: 100%;
}


a {
  text-decoration:none;
}

a:visited {
  color: inherit;
}


header {
  background-color: var(--theme);
  min-height: calc(var(--line-h)*3);
}

nav {
  justify-content: flex-end;
}

ul {
  padding: 0;
}

  li {
	margin-block-start: 0;
  }

nav li {
  display: grid;
  place-items: center;
  padding: 0.5em;
}

nav li:not(.logo, .button, .active):hover, .active {
  border-block-end: solid var(--accent);
}

.active {
  font-size: 1.1em;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.container {
  width: 80vw; 
  min-width: 320px;
  margin: 0 auto;
}

.main-nav {
  min-height: calc(var(--line-h)*2);
  align-items: center;
  gap: 0;
}

.logo {
  margin-inline-end: auto;
}


.logo .img {
  height: var(--line-h);
}

.logo .img img {
  height: 100%;
}

.main-nav .links {
  gap: 1em;
  justify-content: flex-end;
}

@media only screen and (max-width: 25em) {
  .main-nav  .links  {
	flex-direction: column;
	align-items: center;
  }

  .logo {
	margin-inline: auto;
  }
}

.main-nav .links > *:not(.logo) {
  display: initial;
}


.flex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.gc {
  display: grid;
  place-items: center;
}

.gac {
  display: grid;
  align-items: center;
}
