.frame {
  height: 6em;
  aspect-ratio: 1/1;
  border: 1px solid currentcolor;
}

.crossbars {
  position: relative;
  height: 100%;
  width: 100%;
} 

.crossbars > .bar {
  background-color: currentcolor;
  height: 90%;
  width: 20%;
  position: absolute;
  right: 40%;
  top: 8%;
}

.crossbars > .bar1 {
  transform: rotate(45deg);
}

.crossbars > .bar2 {
  transform: rotate(-45deg);
}


