.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vw;
  aspect-ratio: 1/1;
  border: 1px solid currentcolor;
}

.hamburger .bar {
  background-color: currentcolor;
  width: 70%;
  height: 15%;
}

