:root {
  --padding: 1em;
  --gap: 1em;
  --font-size: clamp(1rem, 1.25vw, 2.5rem);
  --letter-spacing: 0.3em;
  --nav-icon: 3em;
}

/* dark-theme colors */
:root {
  --bg-color: midnightblue;
  --text: var(--white);
  --text-contrast: var(--black);
  --theme: lightsteelblue;
  --contrast: rebeccapurple;
  --medium: indigo;
  --accent: coral;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: unset;
  --shadow-deep: unset;
}


/* light-theme colors */
:root {
  --bg-color: floralwhite;
  --text: var(--black);
  --text-contrast: var(--white);
  --theme: var(--white);
  --medium: lavender;
  --contrast: lightsteelblue;
  --accent: slateblue;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.2);
  --shadow-deep: 0 0.5vw 2vw  0 rgba(0,0,0,0.2);
}


html {
  background-color: var(--bg-color);
}


body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
} 

a {
  text-decoration:none;
}

a:visited {
  color: inherit;
}


.wrapper {
  min-height: 100vh;
}

.flex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}




/* ************************************************************************* */


.nav-wrapper {
  width: 100%;
}

.main-nav {
  height: 4em;
  margin: 0 1em;
  align-items: center;
}

.logo {
  margin-inline-end: auto;
}

.logo .img {
  height: 1.75em;
}

.logo .img img {
  height: 100%;
}

.main-nav .links {
  gap: 1em;
}

.main-nav .links > * {
  display: none;
}

.m-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  background-color: var(--bg-color);
}

.m-nav input {
  display:none;
}

.m-menu ~ * {
  display: none;
}

.m-menu ~ label {
  display: block;
  position: relative;
}
.hamburger, .crossbars {
  font-size: var(--nav-icon);
}

.crossbars {
  text-align: right;
}

.m-menu:checked ~ * {
  display: block;
  position: relative;
}
 
.m-menu:checked ~ label {
  display: none;
}
 
.m-links {
  list-style-type: none;
  padding: 0;
}

.m-links li {
  line-height: 2;
}

@media only screen and (min-width: 1115px) {
  .main-nav  .links > * {
	display: initial;
  }
  .m-nav {
	display: none;
  }
}


/* ************************************************************************* */


